body {
  background-color: #526B54;
  color: #F2CC74;
  font-family: 'Bungee Hairline', cursive;
}

.dl-horizontal {
  font-size: 2em;
}

dt:hover{
  color:#EE7E8C;
  font-style: oblique;
}

#p2roll, #p2hold {
  display:none;
}



.jumbotron {
  background-color: #284832;
  margin-top: 20px;
  padding: 45%;
}

h3, h5, h6 {
  color: white;
  text-align: center;
  font-weight: bolder;
}

/*#p1currentScore, #p2currentScore {
  font-size: 40px;
}*/

h6 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}
h3 {
  font-size: 38px;
}
