.dl-horizontal {
  font-size: 2em;
}

dt:hover{
  color:#EE7E8C;
  font-style: oblique;
}

#p2roll, #p2hold {
  display:none;
}

body {
  background-color: #526B54;
}

.jumbotron {
  background-color: #8FB996;
  margin-top: 20px;
}
